.fldlist {
    width: 100%;

    .colname {
        text-align: right;
        padding-right: 10px;
        width: 20px;
    }
    .colimg {
        padding-left: 5px;
    }
    .colvalue {
        padding: 10px 0;
    }
    .coltype {
        padding-left: 10px;
        width: 20px;
    }
    .colcount {
        padding: 5px 1px;
        width: 5px;
        vertical-align: top;
        color: red;
        font-size: 10px;
    }
    .divider {
        /*height:1px;*/
        border-bottom: 1px dotted $colorBorder;
        margin: 5px 0;
    }
    .fldname {
        margin-left: 5px;
        font-weight: bold;
        font-size: 95%;
        /*cursor: pointer;*/
        /*color: #333;*/
    }
    .fldhint {
        color: $colorTextHint;
        font-size: 95%;
        white-space: nowrap;
    }
    .fldwhint {
        color: $colorTextHint;
        font-size: 95%;
    }
    .tbltitle {
        margin-bottom: 3px;
        height: 18px;
    }
    .fldtype {
        color: red;
        font-weight: bold;
        cursor: pointer;
    }
    .fldtag {
        font-weight: bold;
        font-size: 13px;
    }
    .row:hover {
        background-color: $colorLink;
    }
    .hinttbl {
        width: 100%;
    }
    .fldbtn {
        padding: 1px;
        margin-left: 2px;
        background-color: $colorBackgroundShade;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px 2px 2px 2px;
    }
}
