.dialogmodal {
    display: none;
    background-color: $colorBackgroundMain;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .body {
        width: 500px;
        border: 10px solid $colorBorder;
        //background-color: white;
        //padding: 10px;
    }
    .block {
        padding: 10px;
        border-bottom: 1px solid $colorBorder;
    }
    .title {
        //padding-bottom: 10px;
        //padding-top: 10px;
        //margin-bottom: 10px;
        //border-bottom: 1px solid #eee;
        //border-top: 1px solid #eee;
        //text-align: left;
        font-size: 130%;
        font-weight: bold;
        //color: #FF6600;
        background-color: $colorBackgroundShade;
        //padding-left: 10px;
    }
    .hint {
        //padding-bottom: 10px;
        //margin-bottom: 10px;
        //border-bottom: 1px solid #eee;
        //display:none;
        table {
            width: 100%;
        }
        img {
            margin-right: 10px;
        }
    }
    .info {}
    .footer {
        //padding-top:10px;
        //padding-bottom:10px;
        //padding-right:10px;
        background-color: $colorBackgroundShade;
        //margin-top:10px;
        text-align: right;
        //border-top: 1px solid #eee;
        .button {
            margin-left: 8px;
        }
    }
    .desc {
        margin-bottom: 5px;
        margin-top: 15px;
        &:first-of-type {
            margin-top: 0;
        }
    }
    .fhint {
        display: inline-block;
        padding-left: 10px;
        vertical-align: top;
        padding-top: 3px;
        width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #816C5B;
    }
}

/*.dialogmodal .message .warning {
    color:red;
    font-weight: bold;
}
.dialogmodal .message .ok {
    color:navy;
    font-weight: bold;
}
.dialogmodal .message img {
    margin-right: 10px;
}*/
