.noteeditor {
    //background-color: white;
    display: none;

    .caption {
        table {
            height: 34px;
        }
        td {
            &.icon {
                width: 45px;
                height: 32px;
                img {
                    display: block;
                }
            }
            &.info {
                width: 60px;
                text-align: right;
                white-space: nowrap;
                div {
                    font-size: 90%;
                    color: $colorTextHint;
                    height: 17px;
                }
            }
            &.name {
                .main {
                    font-weight: bold;
                    /*font-size:14px;*/
                    //color: #7c94c1;
                }
                // .hint {
                //     /*font-size:12px;*/
                //     color: $colorTextHint;
                // }
            }
        }
    }
    .divider {
        border-bottom: 1px dashed $colorBorder;
        margin: 10px 0;
    }
    .changed {
        color: $colorLink;
    }
    .entries {
        // .ui-sortable-helper {
        //     padding: 5px 0;
        //     margin-bottom: 10px;
        //     border-top: 1px dotted #ccc;
        //     border-bottom: 1px dotted #ccc;
        // }
        .entry {
            margin-bottom: 10px;
            //background-color: white;
        }
    }
    .tags {
        margin-bottom: 10px;
        //background-color: white;
    }
    .entries .entry {
        // .active {
        //     border-right: 2px solid #BFDFFF;
        //     border-left: 2px solid #BFDFFF;
        //     padding: 0 5px;
        // }
        .undo {
            text-align: right;
            line-height: 20px;
            height: 20px;
        }
        .title {
            height: 28px;
            width: 100%;
            margin-bottom: 3px;
        }
    }
    .tags .title {
        height: 22px;
        width: 100%;
        margin-bottom: 3px;
    }
    .entries .entry .title .icon, .tags .title .icon {
        width: 25px;
    }
    .entries .entry .title .icon {
        /*cursor:move/**/
        img {
            width: 16px;
            height: 16px;
        }
    }
    .tags .title .icon img {
        width: 16px;
        height: 16px;
    }
    .entries .entry {
        .title {
            .name input {
                //color: inherit;
                background-color: $colorBackgroundMain;
                border: none;
                //font-size: inherit;
                font-weight: bold;
                height: 18px;
                width: 100%;
                // &:hover {
                //     //color: #7c94c1;
                // }
                &:focus {
                    //color: #7c94c1;
                    outline: none;
                }
            }
            .controls {
                text-align: right;
                width: 100px;
                white-space: nowrap;
                height: 24px;
                .button, .disabled {
                    width: 16px;
                    height: 16px;
                    padding: 3px;
                    margin-left: 2px;
                    //opacity: 0.15;
                    border: 1px solid $colorBorder;
                    background-color: $colorBackgroundShade;
                }
                .button:hover {
                    cursor: pointer;
                    background-color: $colorBorder;
                    //opacity: 1;
                }
            }
        }
        .type {
            display: none;
            //border: 1px solid $colorBorder;
            //border-bottom: none;

            .list {
                //background-color: $colorBackgroundShade;
                width: 100%;
                td {
                    text-align: center;
                    //border-right: 1px solid $colorBorder;
                    width: 14%;
                    padding: 3px 8px;
                }
                .item {
                    cursor: pointer;

                    &:last-child {
                        border-right: none;
                    }
                    &:hover {
                        background-color: $colorBorder;
                        //color: white;
                    }
                }
                .current {
                    color: $colorLink;
                    background-color: $colorBorder;
                    cursor: default;
                }
            }
            // .menu {
            //     width: 100%;
            //     td {
            //         padding: 2px 3px;
            //         &.name {
            //             font-weight: bold;
            //         }
            //         &.description {
            //             text-align: right;
            //             font-size: 9px;
            //             color: $colorTextHint;
            //         }
            //     }
            //     tr:hover {
            //         background-color: #bfdfff;
            //         color: white;
            //         cursor: pointer;
            //     }
            // }
        }
        .history {
            display: none;
            //background-color: $colorBackgroundShade;
            border: 1px solid $colorBorder;
            border-top: none;
            //padding: 0 1px 1px 1px;
            .info {
                padding: 3px 8px;
                color: $colorTextHint;
                text-align: center;
            }
            tr {
                border-bottom: 1px solid $colorBorder;
                &:hover {
                    background-color: $colorBackgroundHover;
                    //color: #000;
                }
                &:last-child {
                    border-bottom: none;
                }
                .name {
                    color: $colorTextHint;
                }

                td {
                    padding: 3px 8px;
                    &.ctrl {
                        text-align: right;
                    }
                    &.name {
                        color: $colorTextHint;
                    }
                }
            }
        }
        .hint {
            width: 100%;
            color: $colorTextHint;
            margin-top: 0;
            font-size: 90%;
        }
    }
    .tags .hint {
        width: 100%;
        color: $colorTextHint;
        margin-top: 0;
        font-size: 90%;
    }
    .entries .entry .hint {
        .counter {
            text-align: right;
        }
        span {
            /*font-size:90%*/
        }
        .counter span {
            /*font-weight:bold*/
            &.limit {
                color: $colorTextError;
            }
        }
    }
    .tags {
        .name {
            font-weight: bold;
        }
        .line {
            text-transform: lowercase;
        }
    }
    .tbuttons {
        //padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        text-align: right;
        border-bottom: 1px dashed $colorBorder;
        .left {
            margin-right: 5px;
            float: left;
        }
    }
    .bbuttons {
        text-align: right;
    }
}
