.notelist > {
    .tpbar {
        height: 28px;
        line-height: 28px;
        > {
            .ctrl {
                float: right;
            }
            .info {}
            .ctrl > .button {
                margin-left: 5px;
            }
            .info {
                > span.amount {
                    display: inline-block;
                    margin-right: 15px;
                    border: 1px solid $colorBorder;
                    padding: 0 5px;
                    line-height: 26px;
                    background-color: $colorBackgroundShade;
                }
                a {}
                b {
                    cursor: default;
                }
                p {
                    color: $colorTextHint;
                    display: inline;
                    margin-right: 5px;
                    &.div {
                        color: $colorBorder;
                        margin: 0 7px;
                    }
                }
            }
        }
    }
    .notes {
        margin-top: 10px;
        > .note {
            table-layout: fixed;
            display: table;
            width: 100%;
            border-top: 1px dashed $colorBorder;
            padding: 5px;
            &:hover {
                background-color: $colorBackgroundHover;
                // .time {
                //     color: #000 !important;
                // }
            }
            &.hidden {
                display: none;
            }
            &.marked {
                background-color: $colorBackgroundHover;
                img.icon {
                    display: none !important;
                }
                div.tick {
                    display: block !important;
                    background-image: url("img/check_box.svg") !important;
                }
            }
            &.active {
                background-color: $colorBackgroundHover;
            }
            &:last-of-type {
                border-bottom: 1px dashed $colorBorder;
            }
            > {
                .icon {
                    display: table-cell;
                    vertical-align: middle;
                    width: 45px;
                    padding-left: 5px;
                    padding-right: 8px;
                    img.icon {
                        margin: 0 auto;
                        display: block;
                        width: 32px;
                    }
                    div.tick {
                        margin: 0 auto;
                        display: none;
                        width: 28px;
                        height: 28px;
                        //opacity: 0.5;
                        background: url("img/check_box_blank.svg") no-repeat center center;
                    }
                    &:hover {
                        img.icon {
                            display: none;
                        }
                        div.tick {
                            display: block;
                            &:hover {
                                //opacity: 1;
                            }
                        }
                    }
                }
                .body {
                    display: table-cell;
                    > {
                        .info {
                            padding: 5px 0;
                            > {
                                .warn {
                                    color: $colorTextError;
                                }
                                .name {
                                    margin-right: 5px;
                                    color: $colorTextHint;
                                }
                                .data {
                                    margin-right: 10px;
                                }
                            }
                        }
                        .time {
                            padding: 0 5px;
                            line-height: 21px;
                            float: right;
                            font-size: 90%;
                            color: $colorTextHint;
                        }
                        .tags {
                            padding-bottom: 5px;
                            line-height: 21px;
                            color: $colorTextHint;
                        }
                    }
                }
            }
            .tags .tag {
                border: 1px solid $colorBorder;
                //border-left: 2px solid $colorBorder;
                background-color: $colorBackgroundShade;
                line-height: 25px;
                padding: 1px 7px 0;
                cursor: pointer;
                margin-right: 5px;
                display: inline-block;
                &:hover {
                    background-color: $colorBorder;
                    //color: #fff;
                }
                &.include {
                    color: $colorTextMain;
                    background-color: $colorBorder;
                    //font-weight: bold;
                    &:hover {
                        //background-color: #ffcc66;
                    }
                }
            }
        }
    }
    .btbar {
        text-align: center;
        padding-top: 10px;
    }
}
