html, body {
    font: $font;
    color: $colorTextMain;
    background-color: $colorBackgroundMain;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

input, textarea, select, button {
    color: inherit;
    font: inherit;
    background-color: inherit;
}

.bold {
    font-weight: bold;
}

.maxw {
    width: 100%;
}

.maxh {
    height: 100%;
}

.hidden {
    display: none;
}

.right {
    text-align: right;
}

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    td {
        padding: 0;
    }
}

a {
    text-decoration: none;
    color: $colorLink;
    cursor: pointer;
    &.combo {
        border-bottom: 1px dotted $colorLink;
        font-weight: bold;
    }
}

.body_wrapper {
    /*padding: 10px;*/
    background-color: $colorBackgroundShade;
    vertical-align: top;
}

.body_content {
    /*width: 100%;*/
    /*height: 100%;*/
    /*border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;/**/
    //background-color: #fff;
    /*margin-left: auto;*/
    /*margin-right: auto;*/

    td.logo {
        padding: 0 10px 0 42px;
        font-size: 140%;
        background: url("img/logo.svg") no-repeat 10px center;
        background-size: 26px;
    }
    td.menu {
        text-align: right;
        padding: 0 10px;
        a {
            padding: 0 10px;
            //font-weight: bold;
            &:last-of-type {
                padding-right: 0;
            }
        }
        span {
            color: $colorBorder;
        }
    }

    .header, .footer {
        background-color: $colorBackgroundShade;
        height:40px;
    }

    .header {
        border-bottom: 1px solid $colorBorder;
    }

    .footer {
        text-align: center;
        border-top: 1px solid $colorBorder;
    }
}

/*.gradient {
    background: -webkit-linear-gradient(0deg, #eee 25%,transparent 25%); !* for webkit browsers *!
    background: -moz-linear-gradient(0deg, #eee 25%,transparent 25%); !* for firefox 3.6+ *!
    background: -o-linear-gradient(0deg, #eee 25%,transparent 25%); !* Opera 11.10+ *!
    background: -ms-linear-gradient(0deg, #eee 25%,transparent 25%); !* IE10+ *!
    background: linear-gradient(0deg, #eee 25%,transparent 25%);
    background-size: 5px 100%;
}*/

.message {
    padding-left: 40px;
    padding-right: 10px;
    height: 34px;
    display: table-cell;
    vertical-align: middle;
    &.auth {
        color: #06c;
        background: url("img/message.auth.png") no-repeat left top;
    }
    &.info {
        color: #888;
        background: url("img/message.info.png") no-repeat left top;
    }
    &.hint {
        color: $colorTextHint;
        background: url("img/message.hint.png") no-repeat left top;
    }
    &.loading {
        color: $colorTextHint;
        background: url("img/message.loading.gif") no-repeat left top;
    }
    &.warning {
        color: #888;
        background: url("img/message.warning.png") no-repeat left top;
    }
    &.error {
        color: $colorTextError;
        background: url("img/message.error.png") no-repeat left top;
    }
}


input {
    &.long {
        width: 150px !important;
    }
    &.button {
        background-color: $colorBackgroundShade;
        width: 100px;
        height: 28px;
        /*font-size: 12px;/**/
        border: 1px solid $colorBorder;
        border-radius: 3px;
        /**/
        cursor: pointer;
        color: $colorLink;
        //font: inherit;
        outline: none;
        &.bold {
            font-weight: bold;
        }
        &:hover {
            border: 1px solid $colorBorderActive;
            /*color: #5d4617;*/
            //box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        }
        &:focus {
            border: 1px solid $colorBorderActive;
            /**/
            /*    border: 1px solid #4D90FE;/**/
            /*color: #5d4617;*/
        }
        &:active {
            background-color: $colorBackgroundShade;
            border: 1px solid $colorBorderActive;
            /*color: #fff;*/
        }
    }
    &.email, &.line {
        border: 2px solid $colorBorder;
        background-color: $colorBackgroundShade;
        width: 100%;
        height: 34px;
        /*font-size: 14px;/**/
        padding: 4px;
        box-sizing: border-box;
        outline: none;
        //font: inherit;
    }
}

/*div.fileinput-wrapper { vertical-align:top; width:150px }*/
/*button.fileinput { background-color:transparent }*/

/*div.fileinput-wrapper, */

textarea {
    &.text, &.export {
        border: 2px solid $colorBorder;
        background-color: $colorBackgroundShade;
        width: 100%;
        height: 34px;
        /*font-size: 14px;/**/
        padding: 4px;
        box-sizing: border-box;
        outline: none;
        //font: inherit;
    }
}

input.email {
    &:valid {
        /*border: 2px solid #0f0;*/
    }
    &:invalid {
        border: 2px solid $colorTextError;
    }
}

textarea {
    &.text {
        height: 65px;
    }
    &.export {
        height: 450px;
        width: 100%;
        font-family: monospace;
        font-size: 90%;
        resize: none;
        white-space: nowrap;
    }
}

input {
    &.email:focus, &.line:focus {
        color: $colorTextDark;
        border: 2px solid $colorBorderActive;
        /*    background-color: #fff;*/
        background-color: $colorBackgroundMain;
    }
}

textarea.text:focus {
    color: $colorTextDark;
    border: 2px solid $colorBorderActive;
    /*    background-color: #fff;*/
    background-color: $colorBackgroundMain;
}

input.email:hover, input.line:hover, textarea.text:hover {
    border: 2px solid $colorBorderActive;
    /*    box-shadow: 0 0 2px rgba(0,0,0,0.1);*/
}

// input.fldedit {
//     border: 1px solid $colorBorder;
//     background-color: $colorBackgroundShade;
//     width: 250px;
//     height: 20px;
//     font-size: 14px;
//     padding: 2px;
//     font-weight: bold;
//     /*    text-align: right;*/
// }

// .authfield {
//     border: 2px solid $colorBorder;
//     background-color: $colorBackgroundShade;
//     width: 100%;
//     height: 30px;
//     font-size: 16px;
//     padding: 4px;
// }

// .authbutton {
//     border: 1px solid $colorBorder;
//     background-color: $colorBackgroundShade;
//     width: 80px;
//     height: 22px;
//     font-size: 12px;
// }

/*.menu-item {*/
/*float:left;*/
/*background-color:white;*/
/*padding:3px 10px;*/
/*margin-left:5px;*/
/*width: 70px;*/
/*text-align: center;*/
/*}*/
/*.menu-item-body {*/
/*display:none;*/
/*background-color:white;*/
/*padding:0;*/
/*text-align: left;*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/
/*textarea#styled {
    width: 100%;
    height: 60px;
    border: 1px solid #ddd;
    background-color: white;
    padding: 5px;
}*/

#simplemodal-overlay {
    background-color: #000;
}

.top {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 740px;
}

.iblocks {
    width: 1000px;
    height: 620px;
    margin: 0 auto;
    td.main {
        padding: 0 20px;
        width: 430px;
        vertical-align: top;
    }
}

.iblock {
    height: 158px;
    padding: 10px;
    background-color: #fff;
    //opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    &:hover {
        //opacity: 0.95;
    }
    table {
        height: 100%;
        width: 100%;
    }
    .caption {
        height: 32px;
        .img {
            width: 42px;
        }
        td {
            font-size: 16px;
            font-weight: bold;
            color: $colorTextMain;
        }
    }
    .body td {
        padding-top: 8px;
    }
    .more {
        height: 15px;
        text-align: right;
    }
}

// .btn {
//     padding: 8px;
//     //border: 0 solid $colorBorder;
//     background-color: #E4FFE4;
//     width: 100px;
//     display: inline-block;
//     box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
//     &:hover {
//         background-color: #befcbe;
//     }
// }
