.templatelist > {
    .title {
        border: 1px solid $colorBorder;
        background: url("img/folder.png") no-repeat 7px center;
        background-color: $colorBackgroundShade;
        position: relative;
        height: 34px;
        > {
            .text {
                color: $colorTextHint;
                /*font-size:13px;*/
                font-weight: bold;
                padding-left: 30px;
                height: 30px;
                line-height: 30px;
            }
            input {
                position: absolute;
                top: 6px;
                right: 6px;
                border: none;
                color: $colorTextHint;
                width: 232px;
                height: 22px;
                padding: 0 4px;
                //font: inherit;
                &:focus {
                    background-color: $colorBackgroundMain;
                    outline: none;
                }
                &::placeholder {
                    color: $colorTextHint;
                }
            }
        }
    }
    .list {
        /*color:#816c5b;*/
        border-left: 1px solid $colorBorder;
        border-right: 1px solid $colorBorder;
        > .item {
            cursor: pointer;
            margin: 0;
            padding: 5px 5px 5px 10px;
            position: relative;
            &:hover {
                background-color: $colorBackgroundHover;
                //color: white;
            }
            .line {
                background: url("img/template.svg") no-repeat left center;
                background-size: 20px;
                padding-left: 30px;
            }
            .name {
                font-weight: bold;
            }
            .hint {
                font-size: 90%;
                color: $colorTextHint;
            }
        }
    }
    .hint {
        padding: 5px;
        border: 1px solid $colorBorder;
        font-size: 90%;
        color: $colorTextHint;
        background-color: $colorBackgroundShade;
        // * {
        //     font-size: inherit;
        // }
    }
}
