/**
 * NOT USED
 * List of groups with its items
 */

.tplist {
    background-color: #fff;
    border: 1px solid #eee;
    /*color: #816c5b;*/
    text-align: left;
    overflow-y: auto;
}

.tplist div.group div.title {
    background-color: #eee;
    padding: 5px;
    cursor: default;
}

.tplist div.group div.title div.name {
    background: url("img/folder.png") no-repeat left center;
    color: #aaa;
    font-size: 13px;
    font-weight: bold;
    padding-left: 25px;
    vertical-align: middle;
}

.tplist div.item {
    cursor: pointer;
    margin: 0;
    padding: 4px 4px 4px 30px;
    position: relative;
}
.tplist div.item:hover {
    background-color: #bfdfff;
    color: white;
}

.tplist div.item div.line {
    background: url("img/template.png") no-repeat left center;
    padding-left: 25px;
}

.tplist div.item div.name {
    font-weight: bold;
}
.tplist div.item div.hint {
    font-size: 9px;
    color: #aaa;
}
.tplist div.item div.ctrl {
    position: absolute;
    right: 0px;
    top: 0px;
}
