/**
 * list of note entries
 */

.notemanager { background-color:white }
	.notemanager .search { margin-bottom:5px; position:relative }
		.notemanager .search .icon    { position:absolute; top:0px; margin:7px; height:16px; line-height:16px }
		.notemanager .search .line    { padding-left:25px; padding-right:35px }
		.notemanager .search .control { position:absolute; top:0px; right:0px; margin:5px; height:20px; line-height:20px }
			.notemanager .search .control span { color:#ddd; cursor:pointer }
			.notemanager .search .control span:hover { color:#aaa }
	.notemanager .info { margin: 5px 15px }
		.notemanager .info .message { padding-left: 45px }
	.notemanager .help { margin: 20px 10px; padding:5px; background-color:#F9F9F9; border: 1px solid #eee }
	.notemanager .notes { margin-top: 5px }
		.notemanager .notes .note { border-left: 5px solid #fff; border-right: 2px solid #fff; border-bottom:1px dotted #eee; border-top:1px dotted #eee; padding:3px 5px 3px 10px }
/*		.notemanager .notes .note:hover { border-left: 5px solid #eee; border-right: 2px solid #eee; background-color: #ffffdf }*/
/*		.notemanager .notes .note.active { background-color: #f9f9f9 }*/
		.notemanager .notes .note.active { border-left: 5px solid #bfdfff; border-right: 2px solid #bfdfff; background-color: #ffffdf }
			.notemanager .notes .note table { height:36px; width:100% }
				.notemanager .notes .note table .icon { width:45px }
				.notemanager .notes .note table .body {  }
				.notemanager .notes .note table .body .entry { margin-right: 5px }
			.notemanager .notes .note .hint { color:grey; text-align:right; font-size:9px }
			.notemanager .notes .note .tags { padding-left:45px; padding-top:3px; }
				.notemanager .notes .note .tags .exc { }
				.notemanager .notes .note .tags .inc { }
				.notemanager .notes .note .tags .set { }
	.notemanager > .tags { margin-left:0px }
		.notemanager .tags .title { width:60px; display:inline-block; text-align:center; color:#bbb }
		.notemanager .tags .exc   { }
		.notemanager .tags .inc   { }
		.notemanager .tags .hint  { color:#bbb; margin-left:5px }
	.notemanager .tag {}

	.notemanager .tag {
		border-left: 2px solid #ccc;
		background-color: #ddd;
		line-height: 20px;
		height: 20px;
		padding: 2px 7px 0;
		cursor: pointer;
		margin-right: 5px;
		display: inline-block;
	}
/*	.notemanager .tag.select {
		border: 1px solid #999;
		background-color: #bbb !important;
		color: white !important;
	}*/
	.notemanager .tag:hover {
		background-color: #bfdfff;
	}
	.notemanager .tag.include {
		background-color: #bfdfff;
/*		border: 1px solid #bfdfff;*/
/*		border-left: 2px solid #bfdfff;*/
		color: #fff;
		font-weight: bold;
	}
	.notemanager .tag.exclude {
		background-color: #ffcc66;
		color: #fff;
		font-weight: bold;
	}

