/**
 * Main module to work with single note
 * creation, edit or view
 */
.noteeditor { padding:10px; background-color:white }
	.noteeditor .caption { padding-bottom:5px }
		.noteeditor .caption td.icon { width:45px;height:35px }
		.noteeditor .caption td.info { width:60px; text-align:right; white-space:nowrap }
		.noteeditor .caption td.name { }
			.noteeditor .caption td.name .main { font-weight:bold; font-size:14px; color:#0066cc }
			.noteeditor .caption td.name .hint { font-size:12px; color:gray }
	.noteeditor .divider { border-bottom:1px dotted #ddd; margin:5px 0 }
	.noteeditor .changed { color:#0066cc }
	.noteeditor .entries { padding-top:5px }
		.noteeditor .entries .ui-sortable-helper { padding:5px 0; margin-bottom:10px; border-top:1px dotted #ccc; border-bottom:1px dotted #ccc }
		.noteeditor .entries .entry, .noteeditor .tags { margin-bottom:10px; background-color:white }
		.noteeditor .entries .entry .active { border-right:2px solid #BFDFFF; border-left:2px solid #BFDFFF; padding:0 5px }
		.noteeditor .entries .entry .undo { text-align:right; line-height:20px; height:20px }
		.noteeditor .entries .entry .title, .noteeditor .tags .title { height:20px; width:100%; margin-bottom:3px }
			.noteeditor .entries .entry .title .icon, .noteeditor .tags .title .icon { width:25px }
			.noteeditor .entries .entry .title .icon { cursor:move }
			.noteeditor .entries .entry .title .icon img, .noteeditor .tags .title .icon img { width:16px; height:16px }
			.noteeditor .entries .entry .title .name input { background-color:#fff; border:none; font-size:12px; font-weight:bold; height:18px; width:100% }
			.noteeditor .entries .entry .title .name input:hover { color:#0066cc }
			.noteeditor .entries .entry .title .name input:focus { color:#0066cc }
			.noteeditor .entries .entry .title .controls { text-align:right; width:100px; white-space:nowrap }
			.noteeditor .entries .entry .title .controls .button,
			.noteeditor .entries .entry .title .controls .disabled { width:16px; height:16px; opacity:0.15; border:1px solid white }
			.noteeditor .entries .entry .title .controls .button:hover { cursor:pointer; opacity:1 }
		.noteeditor .entries .entry .type { display:none; border:0px solid #eee }
			.noteeditor .entries .entry .type .list { background-color:#eee; width:100% }
				.noteeditor .entries .entry .type .list td { color:#888; text-align:center; border-right:1px solid #fff; width:14%; padding:1px 8px }
				.noteeditor .entries .entry .type .list .item:last-child { border-right:none }
				.noteeditor .entries .entry .type .list .item:hover { background-color:#bfdfff; color:white; cursor:pointer }
				.noteeditor .entries .entry .type .list .current { background-color:#bfdfff; cursor:default }
			.noteeditor .entries .entry .type .menu { width:100% }
				.noteeditor .entries .entry .type .menu td { padding:2px 3px }
				.noteeditor .entries .entry .type .menu td.name { font-weight:bold }
				.noteeditor .entries .entry .type .menu td.description { text-align:right; font-size:9px; color:#aaa }
				.noteeditor .entries .entry .type .menu tr:hover { background-color:#bfdfff; color:white; cursor:pointer }
		.noteeditor .entries .entry .history { display:none; background-color:#eee; padding:0 1px 1px 1px }
			.noteeditor .entries .entry .history .info { color:#aaa; text-align:center }
			.noteeditor .entries .entry .history table { background-color:#fff }
			.noteeditor .entries .entry .history tr { color:#aaa; border-bottom:1px solid #eee }
			.noteeditor .entries .entry .history tr:hover { background-color:#FFFFDF; color:#000 }
			.noteeditor .entries .entry .history td { padding:2px 4px }
			.noteeditor .entries .entry .history td.ctrl { text-align:right }

		.noteeditor .entries .entry .hint, .noteeditor .tags .hint { width:100%; color:#aaa; margin-top:0px }
		.noteeditor .entries .entry .hint .counter { text-align:right }
			.noteeditor .entries .entry .hint .counter span { font-size:10px; font-weight:bold }
			.noteeditor .entries .entry .hint .counter span.limit { color:red }

	.noteeditor .tags .name { font-weight:bold }
	.noteeditor .tags .line { text-transform:lowercase; }

	.noteeditor .buttons { padding:5px 0; text-align:right }
		.noteeditor .buttons input { margin-left:5px }

/*.noteeditor .templates { background-color:#fff;border:1px solid #ddd;color:#816c5b;text-align:left;overflow-y:auto }
.noteeditor .templates div.group div.title { background-color:#f9f9f9;padding:5px;cursor:default }
.noteeditor .templates div.group div.title div.name { background:url("../img/folder.png") no-repeat left center;color:#aaa;font-size:13px;font-weight:bold;padding-left:25px;vertical-align:middle }
.noteeditor .templates div.item { cursor:pointer;margin:0;padding:4px 4px 4px 30px }
.noteeditor .templates div.item:hover { background-color:#bfdfff;color:white }
.noteeditor .templates div.item div.line { background:url("../img/template.png") no-repeat left center;padding-left:25px }
.noteeditor .templates div.item div.name { font-weight:bold }
.noteeditor .templates div.item div.hint { font-size:9px;color:#aaa }*/