* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}

.bold	{ font-weight: bold; }
.maxw	{ width: 100%; }
.maxh	{ height: 100%; }
.hidden	{ display: none; }
.right  { text-align: right; }
.left   { text-align: left; }
.center { text-align: center; }
.nowrap { white-space: nowrap; }

/* border="0" cellspacing="0" cellpadding="0" */
table    { border:0px; border-collapse:collapse; }
table td { padding:0px; }

a {
	text-decoration: none;
	color: #0066cc;
	cursor: pointer;
}
a.combo {
	border-bottom: 1px dotted #0066cc;
	font-weight: bold;
}

.body_wrapper {
	padding: 10px;
	background-color: #eee;
	vertical-align: top;
}
.body_content {
	width: 100%;
	height: 100%;/**/
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
}
.gradient {
	background: -webkit-linear-gradient(0deg, #eee 25%,transparent 25%); /* for webkit browsers */
	background: -moz-linear-gradient(0deg, #eee 25%,transparent 25%); /* for firefox 3.6+ */
	background: -o-linear-gradient(0deg, #eee 25%,transparent 25%); /* Opera 11.10+ */
	background: -ms-linear-gradient(0deg, #eee 25%,transparent 25%); /* IE10+ */
	background: linear-gradient(0deg, #eee 25%,transparent 25%);
	background-size: 5px 100%;
}

.message { padding-left: 40px; padding-right:10px; height: 34px; display: table-cell; vertical-align: middle }
.message.auth    { color:#06c; background: url("../img/message.auth.png") no-repeat left top }
.message.info    { color:#888; background: url("../img/message.info.png") no-repeat left top }
.message.hint    { color:#aaa; background: url("../img/message.hint.png") no-repeat left top }
.message.loading { color:#aaa; background: url("../img/message.loading.gif") no-repeat left top }
.message.warning { color:#888; background: url("../img/message.warning.png") no-repeat left top }
.message.error   { color:#f00; background: url("../img/message.error.png") no-repeat left top }

.fade {
	background-color:#f9f9f9;
}

input.button {
	background-color: #eee;
	width: 80px;
	height: 22px;
	font-size: 12px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px 2px 2px 2px;/**/
	cursor: pointer;
	color: #816C5B;
}
input.button:hover {
	border: 1px solid #bbb;
	color: #5d4617;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
input.button:focus {
	border: 1px solid #ccc;/**/
/*	border: 1px solid #4D90FE;/**/
	color: #5d4617;
}
input.button:active {
	background-color: #ccc;
	border: 1px solid #aaa;
	color: #fff;
}

input.line, textarea.text {
	border: 2px solid #eee;
	background-color: #fafafa;
	width: 100%;
	height: 30px;
	font-size: 14px;
	padding: 4px;
}
textarea.text {
	height: 65px;
}
input.line:focus, textarea.text:focus {
	border: 2px solid #ddd;
/*	background-color: #fff;*/
	background-color: #FFFFDF;
}
input.line:hover, textarea.text:hover {
	border: 2px solid #ddd;
/*	box-shadow: 0 0 2px rgba(0,0,0,0.1);*/
}
input.fldedit {
	border: 1px solid #eee;
	background-color: #fafafa;
	width: 250px;
	height: 20px;
	font-size: 14px;
	padding: 2px;
	font-weight: bold;
/*	text-align: right;*/
}

.authfield {
	border: 2px solid #eee;
	background-color: #fafafa;
	width: 100%;
	height: 30px;
	font-size: 16px;
	padding: 4px;
}
.authbutton {
	border: 1px solid #ddd;
	background-color: #eee;
	width: 80px;
	height: 22px;
	font-size: 12px;
}
.menu-item {
	float:left;
	background-color:white;
	padding:3px 10px;
	margin-left:5px;
	width: 70px;
	text-align: center;
}
.menu-item-body {
	display:none;
	background-color:white;
	padding:0px;
	text-align: left;
	width: 100%;
	height: 100%;
}
table.datatable thead th {
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 12px 2px 5px;
	text-align: left;
	color: darkgrey;
}
table.datatable tfoot th {
    border-top: 2px solid #ddd;
    font-weight: bold;
    padding: 2px 5px;
	text-align: left;
	color: darkgrey;
}
div.dataTables_filter input {
	border: 1px solid #eee;
	background-color: #fafafa;
	width: 180px;
	height: 20px;
	font-size: 12px;
}
div.dataTables_filter {
	text-align: right;
	padding-bottom:5px;
}

div#datatable_dishlist_paginate * {
	font-size: 11px;
}
div#datatable_dishlist_paginate {
	padding:5px;
}
div#datatable_dishlist_paginate span.first, div#datatable_dishlist_paginate span.previous, div#datatable_dishlist_paginate span.next, div#datatable_dishlist_paginate span.last {
	padding: 5px 10px;
	border: 1px solid #eee;
	background-color: #fafafa;
	cursor: pointer;
	margin: 0px 5px;
	color: #0066cc;
}
div#datatable_dishlist_paginate span span.paginate_button, div#datatable_dishlist_paginate span span.paginate_active {
	padding: 5px 10px;
	border: 1px solid #eee;
	background-color: #fafafa;
	cursor: pointer;
	margin: 0px 2px;
	color: #0066cc;
}
div#datatable_dishlist_paginate span span.paginate_active {
	font-weight: bold;
	background-color: #f0f0f0;
}
select#combo_dishtype{
	border: 1px solid #ddd;
	background-color: white;
	width: 100px;
	height: 20px;
	font-size: 12px;
}
input.dish_field_edit {
	border: 1px solid #ddd;
	background-color: white;
	width: 300px;
	height: 20px;
	font-size: 12px;
}
input.search_field_edit {
	border: 1px solid #ddd;
	background-color: #f5f5f5;
	width: 150px;
	height: 20px;
	font-size: 12px;
}
table#search_filter td {
	padding: 3px 3px 3px 0px;
}
textarea#styled {
	width: 100%;
	height: 60px;
	border: 1px solid #ddd;
	background-color: white;
	padding: 5px;
}
table.datatable tr.edited {
	background-color: #eee !important;
	display: none;
}
table.datatable td.details {
	border: 5px solid #eee;
	background-color:#fbfbfb;
	padding:5px;
}

table.datatable tr.heading2 td {
    border-bottom: 1px solid #AAAAAA;
}
table.datatable td {
    padding: 2px 5px;
}
table.datatable td.center {
    text-align: center;
}
table.datatable td.name {
    text-align: center;
	font-size: 14px;
	font-weight: normal;
	color: #FF6600;
}
table.datatable td.id {
	width: 25px;
}
table.datatable td.icon {
	width: 25px;
}
table.datatable .sorting_asc {
    background: url("../img/datatable/sort_asc2.png") no-repeat scroll right center transparent;
}
table.datatable .sorting_desc {
    background: url("../img/datatable/sort_desc2.png") no-repeat scroll right center transparent;
}
table.datatable .sorting_asc_disabled {
    background: url("../img/datatable/sort_asc_disabled.png") no-repeat scroll right center transparent;
}
table.datatable .sorting_desc_disabled {
    background: url("../img/datatable/sort_desc_disabled.png") no-repeat scroll right center transparent;
}
table.datatable tbody tr { height:45px; border-bottom: 1px dotted #ddd }
table.datatable tbody tr:last-child { border-bottom:none }
/*table.datatable tr.odd  { background-color: #f8f8f8; }
table.datatable tr.even { background-color: #ffffff; }*/

table.datatable tr.row_selected td { background-color: #bfdfff; color: #fff; font-weight:bold; }
/*table.datatable tr.row_selected td { background-color: #F9F9F9; color: #000; font-weight:bold; }*/

/*table.datatable tr.odd.row_selected td  { background-color: rgb(215,222,236) !important; }*/
/*table.datatable tr.odd td.sorting_1  { background-color: #f1f1f1; }
table.datatable tr.odd td.sorting_2  { background-color: #f5f5f5; }
table.datatable tr.odd td.sorting_3  { background-color: #fafafa; }
table.datatable tr.even td.sorting_1 { background-color: #f8f8f8; }
table.datatable tr.even td.sorting_2 { background-color: #fbfbfb; }
table.datatable tr.even td.sorting_3 { background-color: #fefefe; }*/
table.datatable tbody tr:hover {
/*	background-color: #bfdfff;*/
	background-color: #FFFFDF;
	color: #000;
}
/*table.datatable tr.even:hover { background-color: #bfdfff; color: #fff; }
table.datatable tr.odd:hover  { background-color: #bfdfff; color: #fff; }/**/
/*table.datatable tr.even:hover td { border: 1px solid #AAAAAA; background-color: #FFF5EF; }
table.datatable tr.odd:hover td { border: 1px solid #AAAAAA; background-color: #FFEBDF; }
table.datatable tr.even:hover td.sorting_1, table.datatable tr.even:hover td.sorting_2, table.datatable tr.even:hover td.sorting_3 {
	background-color: #FFEBDF;
}
table.datatable tr.odd:hover td.sorting_1, table.datatable tr.odd:hover td.sorting_2, table.datatable tr.odd:hover td.sorting_3 {
	background-color: #FFD8BF;
}
/**/

#simplemodal-overlay {background-color:#000;}
#simplemodal-contai-ner {background-color:#333; border:8px solid #444; padding:12px; color:#BBBBBB;}
h2 {
    color: #5F87AE;
    font-weight: normal;
    padding-bottom: 12px;
    text-transform: uppercase;
	font-size: 1.4em;
}

