/**
 * List of note templates
 */
.templatelist {}
	.templatelist > .title { background: url("../img/folder.png") no-repeat 7px center; background-color:#eee; position:relative; height:34px }
		.templatelist > .title > .text { color:#aaa; /*font-size:13px;*/ font-weight:bold; padding-left:30px; height:30px; line-height:30px }
		.templatelist > .title > input { position:absolute; top:6px; right:6px; border:none; color:#aaa; width:232px; height:22px; padding:0 4px; font: inherit }
		.templatelist > .title > input:focus { background-color:#FFFFDF; outline: none }
		.templatelist > .title > input::placeholder { color: #ddd }
	.templatelist > .list { /*color:#816c5b;*/ border-left:1px solid #eee; border-right:1px solid #eee }
		.templatelist > .list > .item { cursor:pointer; margin:0; padding: 4px 4px 4px 15px; position:relative }
		.templatelist > .list > .item:hover { background-color:#bfdfff; color:white }
		.templatelist > .list > .item .line { background:url("../img/template.png") no-repeat left center; padding-left:25px }
		.templatelist > .list > .item .name { font-weight:bold }
		.templatelist > .list > .item .hint { font-size:90%; color:#aaa }
	.templatelist > .hint { padding:5px; border:1px solid #eee; font-size:90%; color:#aaa; background-color:#F9F9F9 }
		.templatelist > .hint * { font-size:inherit }
