.note-list {
    border: 1px solid $colorBorder;

    // temp
    //margin-bottom: 50px;

    &--hidden {
        display: none;
    }

    &__title {
        background-color: $colorBackgroundShade;
        position: relative;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    &__items {}

    &__item {
        border-top: 1px solid $colorBorder;
        cursor: pointer;
        margin: 0;
        //background: url("https://image.flaticon.com/icons/svg/243/243378.svg") no-repeat 10px center;
        background: url("https://image.flaticon.com/icons/svg/137/137132.svg") no-repeat 10px center;
        background-size: 28px;
        padding: 6px 6px 6px 48px;

        &:hover {
            background-color: $colorBackgroundHover;
        }
    }

    &__entries {}

    &__entry, &__name, &__data {
        display: inline-block;
        margin-right: 5px;
    }

    &__entry {

    }

    &__name {
        color: $colorTextHint;
    }

    &__tags {
        //font-size: 90%;
        //color: $colorTextHint;
        margin-top: 5px;
    }

    &__tag {
        border: 1px solid $colorBorder;
        background-color: $colorBackgroundShade;
        padding: 3px 8px;
        color: $colorTextHint;
        cursor: pointer;
        margin-right: 5px;
        display: inline-block;
        &:hover {
            background-color: $colorBorder;
            color: $colorTextMain;
            //color: #fff;
        }
        //&.include {
        //    color: $colorTextMain;
        //    background-color: $colorBorder;
        //    //font-weight: bold;
        //    &:hover {
        //        //background-color: #ffcc66;
        //    }
        //}
    }
}
