.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;

    &--hidden {
        display: none;
    }

    &__header {}
    &__body {}
    &__footer {}


    &--user {
        align-items: center;
        background-color: $colorLink;
        justify-content: center;
        /*background: linear-gradient(
            rgba($colorLink, 0.5),
            $colorLink,
            $colorLink,
            $colorLink,
            rgba($colorLink, 0.5)
        );*/

        .page {
            &__header {
                color: $colorBackgroundMain;
                font-size: 200%;
                line-height: 100%;
                margin-top: $paddingNormal * 3;
            }

            &__body {
                background-color: $colorBackgroundMain;
                border-radius: $borderRadius;
                padding: $paddingNormal * 3;
                margin: $paddingNormal * 3;
                max-width: 450px;
            }

            &__footer {
                color: $colorBackgroundMain;
                margin-bottom: $paddingNormal * 3;
                text-align: center;
            }

            &__link {
                color: $colorBackgroundMain;
                margin: 0 $paddingNormal;
            }

            &__copyright {
                margin-top: $paddingNormal;
                color: $colorBackgroundMain;
                opacity: 0.4;
            }
        }
    }

    &--main {
        .page {
            &__header, &__footer {
                flex-shrink: 0;
                //height: $headerHeight;
            }

            &__header {
                align-items: center;
                //height: $headerHeight;
                background-color: $colorLink;
                //border-bottom: 1px solid $colorBorder;
                color: $colorBackgroundMain;
                display: flex;
                //display: flex;
                //flex: none;
                //flex-flow: row nowrap;
                //justify-content: space-between;
                //padding: 0 $paddingNormal;

                //padding: 0 $paddingNormal;
                font-size: 140%;
                //background: url("img/safebox.svg") no-repeat 10px center;
                //background-size: 32px;

                //display: table;
                //width: 100%;
                // @media (min-width: $mediaSmall) {
                //     background: $colorBackgroundShade url("https://images.filehippo.net/img/ex/1308__msseces.png") no-repeat $paddingLarge center;
                //     background: $colorBackgroundShade url("https://cdn0.iconfinder.com/data/icons/security-double-colour-blue-black-vol-2/52/hosting__security__service__web-32.png") no-repeat $paddingLarge center;
                //     background: $colorBackgroundShade url("https://cdn0.iconfinder.com/data/icons/security-double-colour-blue-black-vol-3/52/protection__safety__security__shield-32.png") no-repeat $paddingLarge center;
                //     padding-left: 65px;
                // }
            }

            &__icon {
                width: 32px;
                height: 32px;
                margin: $paddingNormal;
            }

            &__body {
                background-color: $colorBackgroundShade;
                //display: flex;
                flex: 1 0 auto;

                &--centered {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &__footer {
                border-top: 1px solid $colorBorder;
                text-align: center;
                font-size: 90%;
                padding: $paddingNormal;
            }
        }
    }
}
